@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p style="color:blueviolet;font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif;font-display:swap">This is Simple Authentication System</a>.</p>
    <p>User ID : @ViewData["UserId"]</p>
</div>
